* {
	margin: 0;
	padding: 0;
}

html {

	background-image: linear-gradient(to right, grey, black);
}

h1, h2 {
	color: blue;
	font-family: verdana;
	text-align: center;
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

p {
	font-size: 14px;
	font-family: verdana;
}
.flex {
	display: flex;
	justify-content: space-around;
}

.center {
	text-align: center;
	font-size: 30px;
}
